/*** import SCSS ***/
/***colors***/
/***polices***/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding-top: 20px;
}

h1, h2, h3, p, a {
  font-family: Roboto;
}

.menu h1 {
  font-family: Shrikhand;
  font-size: 27px;
  margin: 0 0px 0 20px;
}
.menu h2 {
  margin: 0 0 20px 0;
  font-size: 17px;
  font-weight: 400;
}
.menu h2 span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu h3 {
  margin: 0 0 7px 0;
}
.menu .short {
  width: 65%;
  text-align: left;
}
.menu p {
  margin: 0 10px 0 0;
  font-size: 14px;
}
.menu__title i {
  font-size: 25px;
  position: absolute;
  right: 35px;
  margin-bottom: 5px;
}

.card {
  border-radius: 15px;
  background-color: white;
  padding-bottom: 15px;
  margin-bottom: 17px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0px 15px;
}
.card__title--column h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
}
.card__title--column p {
  margin: 0;
  font-size: 17px;
}
.card:hover {
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 175px;
}
.card span {
  border-radius: 3px;
  font-size: 14px;
  color: green;
  padding: 5px 10px 5px 10px;
  position: relative;
  bottom: 155px;
  background-color: #99E2D0;
}

.img-menu img {
  width: 100%;
  object-fit: cover;
  height: 277px;
  margin-top: 15px;
}

.new-heart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  bottom: 10px;
}

/*** button ***/
.btn__home {
  display: flex;
  justify-content: center;
  width: 60%;
  max-width: 300px;
  margin: auto;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  padding: 15px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}
.btn__home:hover {
  opacity: 0.8;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.btn__command {
  display: flex;
  justify-content: center;
  width: 55%;
  max-width: 300px;
  margin: auto;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 16px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  padding: 15px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}
.btn__command:hover {
  opacity: 0.8;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.btn__fonctionnement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.btn__fonctionnement span {
  position: relative;
  right: 10px;
  flex-shrink: 0;
  font-size: 13px;
  color: white;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__fonctionnement .fa-mobile-alt {
  margin-right: 49.25px;
}
.btn__fonctionnement .fa-list-ul {
  margin-right: 43.25px;
}
.btn__fonctionnement .fa-store {
  margin-right: 40px;
}
.btn__fonctionnement i {
  position: relative;
  left: 20px;
  font-size: 18px;
}
.btn__fonctionnement p {
  position: relative;
  left: 40px;
}
.btn__fonctionnement button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 320px;
  padding: 20px 0 25px 0;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 15px;
  transition: 0.3s;
}
.btn__fonctionnement button:hover {
  cursor: pointer;
  background-color: rgba(255, 121, 218, 0.2);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
}
.btn__fonctionnement button:hover i {
  color: #9356DC;
}
.btn:hover {
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
}

.btn-menu {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.btn-menu:hover span, .btn-menu:hover .prix {
  transform: translateX(-60px);
}
.btn-menu:hover i {
  animation: rotation 0.5s ease-in-out;
}
.btn-menu:hover .btn-menu__titre, .btn-menu:hover #long {
  width: 210px;
}
.btn-menu__titre {
  margin-left: 10px;
  max-width: 254px;
}
.btn-menu__titre h3 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-menu__titre #long {
  width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-menu__titre p {
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-menu__txt {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  flex-shrink: 0;
}
.btn-menu .prix {
  transition: 0.4s ease-in-out;
  position: relative;
  right: 10px;
  font-weight: 800;
}
.btn-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 60px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #99E2D0;
  transition: all 0.4s ease-in-out;
}
.btn-menu span i {
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 374px) {
  .btn__fonctionnement button {
    width: 270px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn__fonctionnement button {
    width: 300px;
    text-align: center;
    margin: 0 10px 0 10px;
  }
}
/*** heart & heart animation ***/
.heart i {
  font-size: 25px;
  transition: all 0.4s ease-in-out;
}
.heart .far {
  position: relative;
  left: 20px;
}
.heart .fas {
  position: relative;
  right: 10px;
  opacity: 0;
  background: -webkit-linear-gradient(90deg, #FF79DA, #9356DC);
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  transform-origin: 50% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart:hover .far {
  opacity: 0;
}
.heart:hover .fas {
  transform: scale(1);
  opacity: 1;
}

/*** fade-in ***/
.entree, .dish, .dessert {
  animation: fadein 0.9s forwards ease-in-out;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  opacity: 0;
}

@keyframes fadein {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.entree {
  animation-delay: 3.3s;
}

.dish {
  animation-delay: 3.6s;
}

.dessert {
  animation-delay: 3.9s;
}

/*** loader ***/
body {
  animation: bg-body 3s ease-in-out;
}

.loader {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FF79DA, #99E2D0, #9356DC);
  animation: bg 3s ease-in-out;
  opacity: 0;
}
.loader__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader h1 {
  font-family: shrikhand;
  animation: bg 2s ease-in-out;
  color: #9356DC;
}

.circle-loader {
  display: flex;
  z-index: 0;
  width: 50px;
  height: 50px;
  border: 10px solid #FF79DA;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 1;
    z-index: 9999;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    z-index: 9999;
  }
}
@keyframes bg-body {
  0% {
    padding: 0;
  }
  100% {
    padding: 0;
  }
}
@keyframes bg {
  0% {
    opacity: 1;
    z-index: 9998;
  }
  50% {
    opacity: 1;
    z-index: 9998;
  }
  100% {
    opacity: 1;
    z-index: 9998;
  }
}
/***header***/
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
header a:hover {
  color: #9356DC;
}
header img {
  height: 28px;
}

/*** Footer ***/
footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 0 20px 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9356DC;
}
footer .fa-utensils {
  margin-right: 12px;
}
footer .fa-hands-helping {
  margin-right: 5px;
}
footer ul {
  list-style: none;
  padding-left: 25px;
}
footer li {
  margin-bottom: 7px;
}
footer img {
  filter: invert(100%);
  height: 17px;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 660px;
  }
  footer li {
    margin-right: 10px;
  }
}
/***fonctionnement***/
.fonctionnement {
  margin-bottom: 40px;
}
.fonctionnement h2 {
  margin: 0 0 35px 20px;
}

.group-f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***restaurants***/
.restaurants {
  background-color: #f2f2f2;
  padding: 30px 18px 50px 18px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

/*** content ***/
/*** menu ***/
.menu {
  padding: 40px 16px 60px 16px;
  background-color: #f2f2f2;
  z-index: 1;
}
.menu__title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 35px;
  position: absolute;
  top: 280px;
  left: 0px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f2f2f2;
}

/*** entree ***/
.entree, .dish, .dessert {
  display: flex;
  flex-direction: column;
}

.entree {
  margin-bottom: 15px;
}

.dish {
  margin-bottom: 25px;
}

.dessert {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .group-f {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px 0 30px;
  }

  .restaurants {
    padding: 30px 30px 50px 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1110px) {
  .position-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 13px;
  }

  .fonctionnement h2, .restaurants h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 1111px) {
  .position-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
  }
}
/*** Home ***/
form {
  background-color: #f2f2f2;
  padding-top: 2px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}
form i {
  position: relative;
  left: 40px;
  z-index: 1;
}
form input {
  background-color: #f2f2f2;
  padding: 14px;
  border: none;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
  position: relative;
  left: 55px;
}
form input::placeholder {
  text-align: left;
  font-size: 16px;
  opacity: 100%;
}
form input:focus {
  outline: #f2f2f2;
}
form input:focus::placeholder {
  opacity: 50%;
}

.zoneSearch {
  appearance: none;
}

.title-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.5);
  padding-top: 35px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.title-home h1 {
  margin: 0 78px 20px 60px;
  font-weight: bold;
  font-size: 24px;
}
.title-home p {
  font-size: 18px;
  margin: 0 15px 30px 15px;
}

/*# sourceMappingURL=style.css.map */
