/*** import SCSS ***/
/***colors***/
/***polices***/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding-top: 20px;
}

h1, h2, h3, p, a {
  font-family: Roboto;
}

.menu h1 {
  font-family: Shrikhand;
}

.card {
  border-radius: 15px;
  background-color: white;
  padding-bottom: 15px;
  margin-bottom: 17px;
}
.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px 0px 15px;
}
.card__title--column h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
}
.card__title--column p {
  margin: 0;
  font-size: 17px;
}
.card__title i {
  font-size: 25px;
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 175px;
}

.img-menu img {
  width: 100%;
  object-fit: cover;
  height: 277px;
  margin-top: 15px;
}

/*** button ***/
.btn__home {
  display: flex;
  justify-content: center;
  width: 60%;
  max-width: 300px;
  margin: auto;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
}
.btn__menu {
  border-radius: 15px;
}
.btn__command {
  border-radius: 15px;
}
.btn__fonctionnement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
  right: 20px;
}
.btn__fonctionnement p {
  position: relative;
  left: 30px;
  flex-shrink: 0;
  font-size: 13px;
  color: white;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__fonctionnement .fa-mobile-alt {
  margin-right: 9.25px;
}
.btn__fonctionnement .fa-list-ul {
  margin-right: 3.25px;
}
.btn__fonctionnement i {
  position: relative;
  left: 50px;
  font-size: 18px;
}
.btn__fonctionnement button {
  flex-shrink: 0;
  width: 300px;
  padding: 25px 0 25px 0;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 15px;
}
.btn__fonctionnement button:hover {
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
}

/***header***/
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  position: absolute;
  left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
header a:hover {
  color: #9356DC;
}
header img {
  height: 28px;
}

/*** Footer ***/
footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 0 20px 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9356DC;
}
footer .fa-utensils {
  margin-right: 12px;
}
footer .fa-hands-helping {
  margin-right: 5px;
}
footer ul {
  list-style: none;
  padding-left: 25px;
}
footer li {
  margin-bottom: 7px;
}
footer img {
  filter: invert(100%);
  height: 17px;
  margin-left: 20px;
}

/***fonctionnement***/
.fonctionnement {
  margin-bottom: 50px;
}
.fonctionnement h2 {
  margin: 0 0 30px 20px;
}

.group-f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***restaurants***/
.restaurants {
  background-color: #f2f2f2;
  padding: 30px 18px 50px 18px;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

/*** menu ***/
.menu {
  margin: 0 15px 0 15px;
}

/*** entree ***/
.entree, .dish, .dessert {
  display: flex;
  flex-direction: column;
}

/*** Home ***/
form {
  background-color: #f2f2f2;
  padding-top: 2px;
  margin-top: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}
form i {
  position: relative;
  right: 30px;
  z-index: 1;
}
form input {
  background-color: #f2f2f2;
  padding: 14px;
  border: none;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
  position: relative;
  right: 10px;
}
form input::placeholder {
  text-align: left;
  font-size: 16px;
  opacity: 100%;
}
form input:focus {
  outline: #f2f2f2;
}
form input:focus::placeholder {
  opacity: 50%;
}

.zoneSearch {
  appearance: none;
}

.title-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.5);
  padding-top: 35px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.title-home h1 {
  margin: 0 78px 0 60px;
  font-weight: bold;
  font-size: 24px;
}
.title-home p {
  font-size: 18px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
