/*** button ***/

.btn {        
    &__home {
        display: flex;
        justify-content: center;
        width: 60%;
        max-width: 300px;
        margin: auto;
        border-radius: 30px;
        border: none;
        color: white;
        font-weight: 900;  
        font-size: 16px;     
        background: linear-gradient(175deg, $secondary, $primary);
        padding: 15px;        
    }
    &__menu {
        border: none;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px;
        margin-bottom: 15px;
        &--bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;           
        }
    }
    &__command {
        display: flex;
        justify-content: center;
        width: 55%;
        max-width: 300px;
        margin: auto;
        border-radius: 30px;
        border: none;
        color: white;
        font-weight: 900; 
        font-size: 16px;      
        background: linear-gradient(175deg, $secondary, $primary);
        padding: 15px;    

    }
    &__fonctionnement {
        margin-bottom: 30px;
        display: flex;
        align-items: center; 
        
        p {
            position: relative;
            right: 10px;
            flex-shrink: 0;
            font-size: 13px;
            color: white;
            border-radius: 50%;
            height: 22px;
            width: 22px;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;            
        }
        .fa-mobile-alt{
          margin-right: 9.25px;
        }
        .fa-list-ul {
            margin-right: 3.25px;
        }
        i {
            position: relative;
            left: 20px;
            font-size: 18px;            
        }
        span {
            position: relative;
            left: 40px;
        }
        button {   
            display: flex;
            align-items: center;        
            flex-shrink: 0;
            width: 330px;
            padding: 10px 0 10px 0;
            border-radius: 20px;
            border: none;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
            font-weight: 700;
            font-size: 15px;
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 121, 218, 0.2);
                transition: 0.2s;
                i {
                    color: $primary;
                }
            }            
        }
    }
    &:hover {
        cursor: pointer;
    }    
}




