/*** button fonctionnement***/

.btn-fonctionnement {
    margin-bottom: 30px;
    @include flex-align-center; 
    span {
        position: relative;
        right: 10px;
        flex-shrink: 0;
        font-size: 13px;
        color: white;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        background-color: $primary;
        @include flex-align-center;
        justify-content: center;
                  
    }
    .fa-mobile-alt{
      margin-right: 49.25px;
    }
    .fa-list-ul {
        margin-right: 43.25px;
    }
    .fa-store {
        margin-right: 40px;  
    }
    i {
        position: relative;
        left: 20px;
        font-size: 18px;   
        transition: 0.4s ease-in-out;    
    }
    p {
        position: relative;
        left: 40px;
    }
    button {   
        @include flex-align-center;      
        flex-shrink: 0;
        width: 320px;
        padding: 20px 0 25px 0;
        border-radius: 20px;
        border: none;
        background-color: #f2f2f2;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);      
        font-weight: 700;
        font-size: 15px;
        transition: all 0.4s ease-in-out;
        &:hover {
            cursor: pointer;           
            background-color: rgba(255, 121, 218, 0.25);           
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
            i {
                color: $primary;       
            }
        }            
    }
} 

/*** button home & command ***/
.btn {    
    display: flex;
        justify-content: center;        
        max-width: 300px;
        margin: auto;
        border-radius: 30px;
        border: none;
        color: white;
        font-weight: 600;  
        font-size: 15px;     
        background: linear-gradient(175deg, $secondary, $primary);
        padding: 15px;     
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease-in-out;
        &:hover {
            opacity: 0.8;
            box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }    
    &__home {
        width: 60%;
    }
    &__command {
       width: 55%;
    }  
}

.checkbox {
    @include flex-align-center;
}

/*** button menu***/

.btn-menu {        
        @include flex-align-center;
        height: 70px;
        width: 100%;
        max-width: 767px;
        margin-bottom: 15px;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        overflow: hidden;
        background-color: white;      
        &:hover {
            span, .prix {
            transform: translateX(-60px);
                }
            i {
                animation: rotation 0.5s ease-in-out ;
            }
            .btn-menu__titre , .btn-menu__titre--long {
                width: 60%;     
            }
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 14px;
            }
        }
        &__titre {
            margin-left: 10px;      
          /*** max-width: 254px; ***/
          width: 75.3%;
          transition: 0.5s ease-in-out;
            h3 {
                font-size: 18px;
                @include text-overflow;
            }      
            p { 
                font-size: 14px;
                margin: 0;
                @include text-overflow;
            }
            &--long {
                width: 78%;
                margin-left: 10px;
                transition: 0.5s ease-in-out;
                h3 {
                    font-size: 18px;
                    @include text-overflow;
                }                        
                p {                 
                    font-size: 14px;
                    margin: 0;
                    @include text-overflow;
                }
            }         
        }
        &__txt {
            display: flex;
            width: 100%;
            align-items: flex-end;
            justify-content: space-between;
            flex-shrink: 0;         
        }
        .prix {
            transition: 0.4s ease-in-out;
           position: relative;
           right: 10px;
            font-weight: 800;
        }
        span {
            @include flex-align-center;
            justify-content: center;
            height: 70px;
            width: 60px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            background-color: $tertiary;          
            transition: all .4s ease-in-out;
            i {  
            background-color: $tertiary;
            color: white;
            font-size: 20px;
            }       
        }
}

@media only screen and (max-width : 374px) {
    .btn-fonctionnement button {
        width: 270px;
    }
}



@media only screen and (min-width : 435px) {

.btn-menu:hover {
    .btn-menu__titre , .btn-menu__titre--long {
        width: 300px;     
    }
}

}

@media only screen and (max-width : 767px) {
    .dish--delice {
        .btn-menu:nth-child(2) {
                height: 90px;
             h3{
                width: 212px;
                font-size: 18px;
                white-space: normal;
                }       
        }
        .btn-menu:nth-child(4) {
            margin-bottom: 25px;
        }
        .checkbox span {
            height: 90px;
        }
    }    
}

@media only screen and (min-width : 768px) and (max-width : 1023px) {
    .btn-fonctionnement button {
        width: 300px;
        text-align: center;
        margin: 0 10px 0 10px;
    }
}

@media only screen and (min-width : 1024px) {

    .btn-fonctionnement button {
        width: 280px;
        text-align: center;
        margin: 0 10px 0 10px;
    }

}



