.entree, .dish, .dessert {
animation: fadein 0.9s forwards ease-in-out;
transform: scaleY(0);
transform-origin: 50% 0%;
opacity: 0;
}



@keyframes fadein {
    0% {
        transform: scaleY(0) ;
       
    }
    100%{
        transform: scaleY(1) ;
        opacity: 1;
    }
}

.entree {
    animation-delay: 0.3s;
}
.dish {
    animation-delay: 0.6s;
}
.dessert {
    animation-delay: 0.9s;
}