/*** loader ***/


.loader {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    animation: bg 3s ;
    opacity: 0;
}

.circle-loader {
    display: flex;
    z-index: 0;
    width: 80px;
    height: 80px;
    border: 10px solid $tertiary;
    border-top: 10px solid $primary;
   border-bottom:10px solid $secondary;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    opacity: 0; 
}

@keyframes spin {
    0% {
        transform: rotate(0);
        opacity: 1;
        z-index: 9999;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
        z-index: 9999;
    }
}

@keyframes bg {
    0% {
        background-color: black;
        opacity: 0.5;
        z-index: 9998;
    }
    100% {
        background-color: black;
        opacity: 0.5;
        z-index: 9998;
    }
}