/*** loader ***/
 #home{
    animation: bg-body 3s ease-in-out ;
}

.loader {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    @include flex-align;
    justify-content: center;    
    background:linear-gradient(180deg, $secondary,$tertiary, $primary);
    animation: bg 3s ease-in-out ;
    opacity: 0;
    &__column {
        @include flex-align;
        flex-direction: column;
        
    }
    h1 {
        font-family: shrikhand;
        animation: bg 3s ease-in-out;     
        color: $primary;        
    }
    &__column {
        position: relative;
        bottom: 30px;
    }
}

.circle-loader{
    display: flex;
    z-index: 0;
    border: 3px solid $secondary; 
    border-bottom: 3px solid $primary;
    border-left: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    opacity: 0; 
    height: 70px;
    width: 70px; 
    position: relative;
    top: 92px
}

.circle-loader--big{
    display: flex;
    z-index: 0;
    border: 3px solid $secondary; 
    border-bottom: 3px solid $primary;
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    opacity: 0; 
    height: 100px;
    width: 100px; 
}
