/*** loader ***/
body {
    animation: bg-body 3s ease-in-out;
}

.loader {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(180deg, $secondary,$tertiary, $primary);
    animation: bg 3s ease-in-out ;
    opacity: 0;
    h1 {
        font-family: shrikhand;
        animation: bg 2s ease-in-out;
        margin-left: 20px;
        color: $primary;
    }
}

.circle-loader {
    display: flex;
    z-index: 0;
    width: 50px;
    height: 50px;
    border: 10px solid $secondary;
   
   border-bottom: 10px solid $primary;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    opacity: 0; 
}
@keyframes spin {
    0% {
        transform: rotate(0);
        opacity: 1;
        z-index: 9999;        
    }
   
    100% {
        transform: rotate(360deg);
        opacity: 1;
        z-index: 9999;       
    }
}

@keyframes bg-body {
    0% {
       
        padding: 0;
    }
    100% {        
        padding: 0;
    }
}

@keyframes bg {
    0% {
        
        opacity: 1;
        z-index: 9998;
        
    }
    50% {
        
        opacity: 1;
        z-index: 9998; 
          
        
    }
       
    100% {
        
        opacity: 1;
        z-index: 9998; 
       
    }
}
