/***polices***/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding-top: 20px;
}

h1,h2,h3,p,a {
    font-family: Roboto;
}


    



