

form {
    display: flex;
    justify-content: center;
    text-align: center;

}
form input {
    width: 100%;
}


/***fonctionnement***/

.fonctionnement {
    display: flex;
    flex-direction: column;
}

.fonctionnement button {
    border-radius: 15px;
}


/***restaurants***/

.restaurants a {
    text-decoration: none;
    color: black;
}



