/*** Home ***/

form {
    margin-top: 30px;
        label {
            @include flex-align;
            justify-content: center;
            width: 100%;
            padding: 10px 0 10px 0;
            box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
            margin-top: 15px;
            background-color: #f2f2f2;
            cursor: text;
            border: 2px solid transparent;
            border-left: #f2f2f2;
            &:hover {
               border: 2px solid $primary;
               border-left: #f2f2f2;                
            }
        }
        i {
            position: relative;
            left: 30px;   
        }

    input {  
        border: none;
        background-color: #f2f2f2;
        position: relative;
        left: 40px;   
        font-size: 16px;
        padding: 5px 0 5px 10px;
        
        &::placeholder {            
            text-align:left;
            font-size: 16px;
            opacity: 100%;    
              
        }
        &:focus {
            outline: $primary;  
            border: 1px solid $primary;           
            &::placeholder {
                opacity: 50%;
                color: $primary;
            }            
        }                       
    }
}

.zoneSearch {
    appearance: none;
}

.title-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(242, 242, 242, 0.5);
    padding: 35px 0 50px 0;
    margin-bottom: 50px;
    h1 {
        margin:0 78px 20px 60px;
        font-weight: bold;
        font-size: 24px;  
    }
    p {
        font-size: 18px;
        margin: 0 15px 30px 15px;
    }
    
}