/*** keyframes loader***/

@keyframes spin {
    0% {
        transform: rotate(0);
        opacity: 1;
        z-index: 9999;        
    } 
    100% {
        transform: rotate(360deg);
        opacity: 1;
        z-index: 9999;       
    }
}



@keyframes bg {
    0% {    
       
         opacity: 1;
        z-index: 9998;     
        color: $primary; 
    }
   
    50% {
        color: $secondary;  
    }

    60% {    
       
        opacity: 1;
       z-index: 9998; 
          
   }
    100% {   
        opacity: 0;
        z-index: 9998;  
       
    }
}

/*** keyframes button menu checkbox rotation ***/

@keyframes rotation {
    0% {
        transform: rotate(0) ;
    }
    100% {
        transform: rotate(360deg) ;
    }
}

/*** keyframes fade-in***/

@keyframes fadein {
    0% {
            transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/*** keyframes header (menu) ***/ 

@keyframes back {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0px);
    }
    
}
