/*** Footer ***/

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px 0 20px 0;
    
    

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $primary;
           
        }
    }
    .fa-utensils {
        margin-right: 12px;
    }
    .fa-hands-helping {
        margin-right: 5px;
    }
    ul {
        list-style: none;
        padding-left: 25px;
        
    }
    li {
        margin-bottom: 7px;
    }
    img {
        filter: invert(100%);
        height: 17px;
        margin-left: 20px;
    }
}

@media only screen and (min-width : 768px) {
    
    footer {
        ul {
        display: flex;
        justify-content: space-between;
        width: 80%;
        max-width: 660px;
        
        }
        li {
            margin-right: 10px;
        }
    }
}


