/***header***/

header {
    @include flex-align;
    justify-content: center;  
    position: relative;
    top: 20px;
    margin-bottom: 20px;
        a {
            @include flex-align;
            justify-content: center;
            position: absolute;
            left: 20px;
            font-size: 20px;
            text-decoration: none;
            color: black;
            
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $primary;
                font-size: 24px;
            }
        }
        img {
            height: 28px;
        }
}





