/***fonctionnement***/

.fonctionnement {
    margin-bottom: 40px;

            h2 {
                margin: 0 0 35px 20px;
            }
}

.group-f {
    display: flex;
    flex-direction: column;
    align-items: center;
} 



/***restaurants***/

.restaurants {
    background-color: #f2f2f2;
    padding: 30px 18px 50px 18px;
    a {
    text-decoration: none;
    color: black;
    }    
}

/*** content ***/



/*** menu ***/

.menu {
    padding: 40px 16px 60px 16px;    
    background-color: #f2f2f2;
    z-index: 1;
    
   
    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 35px;
        position: absolute;
        top: 280px;
        left: 0px;
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: #f2f2f2;
    }
}
    /*** entree ***/

.entree, .dish, .dessert {
    display:flex;
    flex-direction: column;
}

.entree {
    margin-bottom: 15px;
}
.dish {
    margin-bottom: 25px;
}
.dessert {
    margin-bottom: 30px;
}


@media only screen and (min-width : 768px) {
.group-f {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px 0 10px;
}
}

@media only screen and (min-width : 768px) and (max-width : 1110px) {
    
    .position-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 17px;
    }

    

    .fonctionnement h2, .restaurants h2 {
        text-align: center;
    }
} 

@media only screen and (min-width : 1111px) {
    .position-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        column-gap: 17px;
    }

}


